<div id="<%= dom_id user %>" class="content">

      <img class="right floated mini ui image" src="/assets/user.png">
      <div class="header">
        <%= user.name %>
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
</div>
