<div class="ui middle aligned grid mt15">
  <div class="column">
    <h2 class="ui teal image header">
      <i class="user icon"></i>
      <div class="content">
        プロフィール編集画面
      </div>
    </h2>

    <%= render "form", user: @user %>

  </div>
</div>
