  <p class="text1"><span>夢中になれるものがない・・・</span></p>
  <p class="text2"><span>自分の強みってなんだっけ</span></p>
  <div class="title">
      <p class="midashi"><span>\そんなあなたに/</span></p>
      <h1><span class="emphasis">原体験</span>Dig Up!!</h1>
  </div>
  <p class="text3"><span>なにをするにもやる気が出ない・・</span></p>
