/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: auto;
  width: 900px;
}

main {
}

h1 {
  border-radius: 10px 50px/20px 10px;
  width: 35%;
  height: 50%;
  border-bottom: solid 5px rgb(0, 215, 0);
  text-align: center;
  margin: auto;
}

.emphasis {
  border: 5px solid rgb(0, 215, 0);
  border-radius: 40% 60% 40% 50% / 60% 60% 50% 60%;
  padding: 0.3em;
}
